
vocational-school/phyton/PasswordManager/__pycache__/PasswordManager.cpython-312.pyc
vocational-school/phyton/PasswordManager/__pycache__/PasswordGenerator.cpython-312.pyc
.idea/coding.iml
.idea/discord.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
vocational-school/phyton/PasswordManager/__pycache__/PasswordManagerCryptography.cpython-312.pyc
vocational-school/phyton/PasswordManager/pass.txt
vocational-school/python/PasswordManager/__pycache__/PasswordGenerator.cpython-312.pyc
vocational-school/python/PasswordManager/__pycache__/PasswordGenerator.cpython-312.pyc
vocational-school/python/PasswordManager/pass.txt
vocational-school/python/PasswordManager/__pycache__/PasswordGenerator.cpython-312.pyc
vocational-school/python/PasswordManager/pass.txt
*.txt
*.txt
vocational-school/python/PasswordManager/__pycache__/PasswordGenerator.cpython-312.pyc
vocational-school/python/PasswordManager/__pycache__/PasswordGenerator.cpython-312.pyc
vocational-school/python/PasswordManager/__pycache__/PasswordGenerator.cpython-312.pyc
exe-outputs/MAC-Address-Converter.exe
exe-outputs/PasswordGenerator.exe
rcedit-x64.exe
vocational-school/python/PasswordManager/__pycache__/PasswordGenerator.cpython-312.pyc
